{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World of Heroes</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'frontend/stylesheets/portada.css' %}" />
    <link rel="stylesheet" href="{% static 'frontend/stylesheets/style.css' %}" />
    <script src="{% static 'frontend/bower_components/modernizr/modernizr.js' %}"></script>

  </head>
  <body>
  <div class="top-wrapper">
    <div class="row">
      <div class="large-3 columns">
        <h1><img alt="World of Heroes" src="{% static 'frontend/images/logo.png' %}"/></h1>
      </div>
      <div class="large-9 columns">

       </div>
     </div>

    <div class="row">
      <div class="large-12 columns">
        <div class="text">
          <h2>Meet Phill.</h2>
          <h3>He dreams about a healty and peaceful world, free of poverty.</h3>
          <h4>As you, he likes to help others, and always want to do something for our world. </h4>
        </div>
      </div>
    </div>
  </div>

  <section class="monsters-wrapper wrap">
    <div class="row">
      <div class="large-6 columns">
        <h2>But there have always been evil monsters
        wishing to destroy our world....</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster1.png" %}"/>
        <h3>Povertler</h3>
        <p>All it leaves is hunger and missery.</p>
      </div>
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster2.png" %}"/>
        <h3>Diseaster</h3>
        <p>Spreads diseases.</p>
      </div>
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster3.png" %}"/>
        <h3>Eduradicator</h3>
        <p>Limits the access to education.</p>
      </div>
    </div>
  </section>

  <section class="defeat wrap">
    <div class="row">
      <div class="large-6 columns">
        <h2>
          To fight the monsters, Phill becomes a SuperHero!
        </h2>
        <h3>He fights those awful creatures everyday, and he does a great job!</h3>
        <h4>Togheter with all his fellow superheros he defeats the monsters, one at a time.</h4>
      </div>
      <div class="large-6 columns">
        <img src="{% static "frontend/images/sh.png" %}"/>
      </div>
    </div>
  </section>

  <section class="wrap map-wrapper">
    <div class="row">
      <div class="medium-7 columns">
        <h1>But he has plenty of work to do...</h1>
      </div>
      <div class="medium-4 columns">
        <ul class="right button-group">
        <li><a href="#" id="Poverty" class="button">Poverty</a></li>
        <li><a href="#" id="Health" class="button">Health</a></li>
        <li><a href="#" id= "Education" class="button">Education</a></li>
        </ul>
      </div>
    </div>
    <h2 id="title"></h2>
    <div class="row " id="world-map" style="width: 70%; height: 600px;">
      <!-- MAPA-->
    </div>
  </section>

  <section class="help wrap">
    <div class="row">
      <div class="large-6 columns">
        <h1>You can become a superhero!</h1>
        <p>
          As phill, you also can become a SuperHero.<br>
          Fight by yourself or organize a team. Crowfound your innitiative,<br> not just with money, but also contact volunteers around the globe.<br>
          <b>Togheter we can win!</b>
        </p>
      </div>
      <div class="large-6 columns">
        <img src="{% static "frontend/images/sh1.png" %}" alt="You can become a superhero!">
      </div>
    </div>
  </section>

  <section class="instrucciones-wrapper wrap">
    <div class="row">
      <h2>3 Simple steps:</h2>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static "frontend/images/1.png" %}"/>
        <h4>1. Put your SuperHero pants</h4>
        <p>Search for issues affecting your community, or look here.</a> </p>
      </div>

      <div class="large-4 columns">
        <img src="{% static "frontend/images/2.png" %}"/>
        <h4>2. Gather fellows</h4>

        <p>Create a campaign to raise capital and attract volunteers</p>
      </div>

      <div class="large-4 columns">
        <img src="{% static "frontend/images/3.png" %}"/>
        <h4>3. Become a SuperHero!</h4>
        <p>Lets fight the monsters, together!</p>
      </div>

    </div>
  </section>


  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p></p>
        </div>
        <div class="large-6 columns">
        </div>
      </div>
    </div>
  </footer>
    <script src="{% static 'frontend/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/bower_components/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery-jvectormap-2.0.1.min.js' %}"></script>
    <script src="{% static 'frontend/js/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'frontend/js/map.js' %}"></script>
    <script src="{% static 'frontend/js/app.js' %}"></script>
  </body>
</html>
