{% load static from staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World of Heroes</title>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Asap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'frontend/stylesheets/portada.css' %}" />
    <script src="{% static 'frontend/bower_components/modernizr/modernizr.js' %}"></script>
  </head>
  <body>
  <div class="top-wrapper">
    <div class="row">
      <div class="large-3 columns">
        <h1><img alt="World of Heroes" src="{% static 'frontend/images/logo.png' %}"/></h1>
      </div>
      <div class="large-9 columns">

       </div>
     </div>

    <div class="row">
      <div class="large-12 columns">
        <div id="slider">
          <img src="{% static "frontend/images/bg.png" %}"/>
        </div>
      </div>
    </div>
  </div>

  <section class="monsters-wrapper wrap">
    <div class="row">
      <div class="large-6 columns">
        <h2>but there are evil monsters
        wishing to destroy our world....</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster1.png" %}"/>
        <h3>Poverty</h3>
      </div>
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster1.png" %}"/>
        <h3>Poverty</h3>
      </div>
      <div class="large-4 columns">
        <img src="{% static "frontend/images/monster1.png" %}"/>
        <h3>Poverty</h3>
      </div>
    </div>
  </section>

  <section class="defeat wrap">
    <div class="row">
      <div class="large-6 columns">
        <h2>
          YOU CAN HELP PHILL TO DEFEAT THE MONSTERS!
        </h2>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/400x300&text=[monstruo]"/>
      </div>
    </div>
  </section>

  <section class="wrap map-wrapper">
    <div class="row">
      <h2>Mapa de problemas</h2>
      <ul class="right button-group">
      <li><a href="#" class="button">Pobreza</a></li>
      <li><a href="#" class="button">Salud</a></li>
      <li><a href="#" class="button">Educación</a></li>
      </ul>
    </div>
    <div class="row">
        <img src="http://placehold.it/1000x600&text=[mapa]"/>
    </div>
  </section>


  <section class="instrucciones-wrapper wrap">
    <div class="row">
      <div class="large-6 columns">
        <h2>Ayuda ahora, es fácil!</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>1. Encuentra un problema que desees solucionar</h4>
        <p>Observa en tu comunidad, o revisa nuestro <a href="#" class="mapa">mapa</a> </p>
      </div>

      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>2. Crea una campaña para reunir capital y atraer voluntarios</h4>
        <p>skfdl</p>
      </div>

      <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
        <h4>3. Conviértete en SuperHéroe</h4>
        <p>Vence a los Monstruos!</p>
      </div>

    </div>
  </section>


  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

    <script src="{% static 'frontend/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'frontend/bower_components/foundation/js/foundation.min.js' %}"></script>
    <script src="{% static 'frontend/js/app.js' %}"></script>
  </body>
</html>
